<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1"
  >
  <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='apple-touch-icon.png') }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}" />
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#022069" />
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#022069">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
  <title>CivicSignal</title>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NXX5DBEHXC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NXX5DBEHXC');
  </script>
  <script type="text/javascript">
    document.appConfig = {};
    document.appConfig.cookieDomain = '{{ cookie_domain }}';
    document.appConfig.maintenanceMode = {{ maintenance_mode }};
    document.appConfig.systemWarning = "{{ system_warning }}";
  </script>
  {{ stylesheet_tag("common_css") | safe }}
  {{ stylesheet_tag("app_css") | safe }}
</head>

<body>

  <script src="{{  url_for('static', filename='app-config.js') }}"></script>

  <div id="app"></div>

  <canvas id="canvas" style="display:none"></canvas>  <!-- hack for IE font sizing tricks -->

  {{ javascript_tag("app_js") | safe }}

  <div id="bubble-chart-tooltip"></div>

</body>

</html>
