@import '../_constants';

.tool-description {
  text-align: center;
  color: $white;
  padding: 25px;
  margin: .5rem;
  cursor: pointer;

  p {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
  }

  &.tool-explorer {
    background-color: #023e8a;
  }

  &.tool-topics {
    background-color: #0a77b6;
  }

  &.tool-sources {
    background-color: $sources-primary;
  }
  &.media-data{
    background-color: #48cae4;
  }

}
