.tools-home {
  
  h1 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 40px;
    @media screen and (min-width:768px){
      font-size: 56px;
    }
  }

  h2 {
    font-size: 28px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
  
  }
  .tools-card {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  p {
    &.intro {
      text-align: left;
      font-size: 28px;
      margin: 0px;
      padding: 0px;
      margin-bottom: 40px;
    }
  }
  .cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .app-button {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  .media-hero{
    padding: 2rem 0;
  }
.tools-hero{
  text-align: left;
}
}
